server {
    # listen 80 default_server;

    root /yit/www/h5;
    index index.html index.htm;
    error_page 404 /404.html;
    # Make site accessible from http://localhost/
    server_name \{{H5_RISK_CONTROL_DOMAIN}};

    location / {
            expires 5m;
            # First attempt to serve request as file, then
            # as directory, then fall back to displaying a 404.
            # try_files $uri $uri/ =404;
            try_files $uri $uri/ /index.html;
            # Uncomment to enable naxsi on this location
            # include /etc/nginx/naxsi.rules
    }
}