var abp=abp||{};
abp.webapiDomain='\{{HTTP_PROTOCOL}}://\{{MAGENTO_DOMAIN}}'
abp.gatewayDomain='\{{HTTP_PROTOCOL}}://\{{API_GATEWAY_DOMAIN}}'
abp.lpDomain='\{{HTTP_PROTOCOL}}://\{{CALLCENTER_OPENRESTY_DOMAIN}}'
abp.AppId='\{{WXPAY_APP_ID}}'
abp.gitCommitHash='\{{GIT_COMMIT_HASH}}'
abp.gitCommitTime ='\{{GIT_COMMIT_TIMESTAMP}}'